<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fellowme">


  <xacro:property name="package_name" value="fellowme_description"/>
  <xacro:property name="robot_name" value="fellowme"/>
  <xacro:arg name="camera_type" default="'h264_fisheye'" />

  <xacro:include filename="$(find ${package_name})/urdf/include/common_macros.urdf.xacro" />
  <xacro:include filename="$(find ${package_name})/urdf/include/common_sensors.xacro" />
  <xacro:include filename="$(find ${package_name})/urdf/include/addon_macro.urdf.xacro" />
  <xacro:include filename="$(find ${package_name})/urdf/include/robot.gazebo.xacro" />

  <xacro:property name="wheel_yaml" value="$(find ${package_name})/config/${robot_name}/wheel.yaml" />
  <xacro:property name="wheel_props" value="${xacro.load_yaml(wheel_yaml)}"/>

  <!-- <xacro:property name="motor_yaml" value="$(find ${package_name})/config/${robot_name}/motor.yaml" />
  <xacro:property name="motor_props" value="${xacro.load_yaml(motor_yaml)}"/> -->

  <xacro:property name="base_yaml" value="$(find ${package_name})/config/${robot_name}/base.yaml" />
  <xacro:property name="base_props" value="${xacro.load_yaml(base_yaml)}"/>

  <xacro:property name="sensor_yaml" value="$(find ${package_name})/config/${robot_name}/sensors.yaml" />
  <xacro:property name="sensor_props" value="${xacro.load_yaml(sensor_yaml)}"/>



  
  <!-- Footprint link -->
  <xacro:footprint wheel_props="${wheel_props}" />

  <!-- Base link -->
  <xacro:base base_prop="${base_props}" mesh="${base_props['base']['mesh']}" >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:base>

  <!-- Back Caster Wheel -->
  <!-- <xacro:caster_wheel prefix="rear" reflect="-1"
                      wheel_props="${caster_wheel_props}">
  </xacro:caster_wheel> -->

  <!-- motor Wheels -->
  <xacro:wheel prefix="right" reflect="-1" 
                      wheel_props="${wheel_props}"
                      base_props="${base_props}" > 
  </xacro:wheel>

  <xacro:wheel prefix="left" reflect="1" 
                      wheel_props="${wheel_props}"
                      base_props="${base_props}" > 
  </xacro:wheel>


  <!-- Motors
  <xacro:motor prefix="right" reflect="-1" 
                      motor_props="${motor_props}"
                      base_props="${base_props}" > 
  </xacro:motor>

  <xacro:motor prefix="left" reflect="1" 
                      motor_props="${motor_props}"
                      base_props="${base_props}" > 
  </xacro:motor> -->

  <!-- Sensors -->
  <!-- <xacro:laser prefix="rplidar" parent_link="base_link"
                   sensor_prop="${sensor_prop}"
                   enable_gpu="${sensor_prop['laser']['enable_gpu']}">
  </xacro:laser> -->

  <!-- Camera -->
  <!-- Camera mount link -->
  <xacro:addon addon="camera_mount" base_prop="${base_props}" parent_link="base_link" >
        <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:addon>
  <!-- Choose between different cameras using the camera_type xacro argument -->
  <!-- Must be one of ['h264_fisheye'] -->
  <xacro:if value="${$(arg camera_type) == 'h264_fisheye'}">
    <!-- Raspi cam mount link -->
    <xacro:addon addon="h264_fisheye" base_prop="${base_props}" parent_link="camera_mount_link" >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:addon>
    <!-- Raspi cam -->
    <xacro:camera_sensor parent_link="${sensor_props['camera']['parent_link']}" visualize="false"
                         sensor_prop="${sensor_props}"
                         mesh="${sensor_props['camera']['meshes']['h264_fisheye']}" >
      <origin xyz="0.0 0 0.0" rpy="0 0 0" />
    </xacro:camera_sensor>
  </xacro:if>
  

  <!-- Gazebo -->
  <xacro:gazebo_ros_control robotNamespace="/fellowme">
  </xacro:gazebo_ros_control>

</robot>