<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="camera_sensor" params=" *joint_origin parent_link sensor_prop visualize mesh:='' ">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  
  <link name="camera_optical_frame">
    <xacro:if value="${mesh != '' }" >
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://${package_name}/meshes/sensors/${mesh}" scale="${sensor_prop['camera']['meshes']['scale']}" />
        </geometry>
        <material name="${sensor_prop['camera']['color']}"/>
      </visual>
    </xacro:if>
    <xacro:if value="${mesh == '' }" >
      <visual>
        <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        <geometry>
          <cylinder radius="${sensor_prop['camera']['radius']}" length="${sensor_prop['camera']['length']}"/>
        </geometry>
        <material name="${sensor_prop['camera']['color']}"/>
      </visual>
    </xacro:if>
    <collision>
      <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
      <geometry>
        <cylinder radius="${sensor_prop['camera']['radius']}" length="${sensor_prop['camera']['length']}"/>
      </geometry>
    </collision>
    <xacro:cylinder_inertia m="${sensor_prop['camera']['mass']}"
                            r="${sensor_prop['camera']['radius']}"
                            l="${sensor_prop['camera']['length']}"
                            o_xyz="0 0 0"
                            o_rpy="0 0 0" />
  </link>

  <gazebo reference="camera_optical_frame">
    <material>${sensor_prop['camera']['color']}</material>
  </gazebo>

  <joint name="camera_joint" type="fixed">
    <axis xyz="0 0 0" />
    <origin xyz="${sensor_prop['camera']['dx']} ${sensor_prop['camera']['dy']} ${sensor_prop['camera']['dz']}" rpy="${M_PI/2} ${M_PI} ${M_PI/2}"/>
    <xacro:insert_block name="joint_origin" />
    <parent link="${parent_link}"/>
    <child link="camera_optical_frame"/>
  </joint>

  <gazebo reference="camera_optical_frame">
    <sensor type="camera" name="camera1">
      <update_rate>60</update_rate>
      <visualize>${visualize}</visualize>
      <camera>
        <horizontal_fov>1.92</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>B8G8R8</format>
        </image>
        <depth_camera>
        </depth_camera>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
                That pixel's noise value is added to each of its color
                channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>diffbot/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
</xacro:macro>

</robot>