<?xml version="1.0"?>
<launch>

    <!-- Launch depth2scan node -->
    <include file="$(find fellowme_navigation)/launch/fellowme_depth2scan.launch"/>
    
    <!-- Launch move_base node  -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!-- Remap subscribed topics -->
        <remap from="/cmd_vel" to="/fellowme/mobile_base_controller/cmd_vel"/>
        <remap from="/odom" to="/fellowme/mobile_base_controller/odom"/>
        
        <!-- Load move_base parameters -->
        <!-- # costmap -->
        <rosparam file="$(find fellowme_navigation)/params/move_base/costmap/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find fellowme_navigation)/params/move_base/costmap/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find fellowme_navigation)/params/move_base/costmap/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find fellowme_navigation)/params/move_base/costmap/global_costmap_params.yaml" command="load"/>
        
        <!-- # planner global -->
        <!-- <rosparam file="$(find fellowme_navigation)/params/move_base/planner/global_CarrotPlanner.yaml" command="load" /> -->
        <rosparam file="$(find fellowme_navigation)/params/move_base/planner/global_CarrotPlanner.yaml" command="load" />

        <!-- # planner local -->
        <rosparam file="$(find fellowme_navigation)/params/move_base/planner/local_DWAPlanner.yaml" command="load" /> 
        <!-- <rosparam file="$(find fellowme_navigation)/params/move_base/planner/local_TebPlanner.yaml" command="load" />  -->

        <!-- # move base -->
        <rosparam file="$(find fellowme_navigation)/params/move_base/move_base_params.yaml" command="load"/>
    </node>

</launch>